-e git://github.com/d2emon/pydice.git#egg=pydice
alembic==0.8.10
Mako==1.0.6
MarkupSafe==0.23
python-editor==1.0.3
SQLAlchemy==1.1.5
appdirs==1.4.0
click==6.7
Flask==0.12
itsdangerous==0.24
Jinja2==2.9.5
packaging==16.8
pyparsing==2.1.10
six==1.10.0
Werkzeug==0.11.15
