{% extends "base.html" %}

{% block content %}
  <h1>{{c.charname}}</h1>
<form action="" method="post" name="edit">
  {{form.hidden_tag()}}
  <div>
    <img src="{{c.avatar(128)}}">
  </div>
  <div>
    Имя: {{form.charname(size = 24)}}
  </div>
  <ul>
    <li>ST: {{form.st}}</li>
    <li>DX: {{form.dx}}</li>
    <li>IQ: {{form.iq}}</li>
    <li>HT: {{form.ht}}</li>
  </ul>
  <ul>
    <li>HP: {{c.HP}}</li>
    <li>Will: {{c.Will}}</li>
    <li>Perc: {{c.Perc}}</li>
    <li>FP: {{c.FP}}</li>
    <li>BS: {{c.BS}}</li>
    <li>Move: {{c.Move}}</li>
  </ul>
  <div>
    <input type="submit" value="Сохранить">
  </div>
</form>
{% endblock %}
